click==7.1.2
ecdsa==0.15
Flask==1.1.2
Flask-Auth==0.85
Flask-Cors==3.0.8
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycryptodome==3.3.1
pyodbc==4.0.30
python-jose-cryptodome==1.3.2
six==1.15.0
Werkzeug==1.0.1
